extends loggedin-layout

block inner-content
  .row-fluid
    .offset3.span6.profile
      h2 Profile
      form.form-horizontal(action='/users/save',method='post')
        if flash.error && flash.error.length > 0
          .alert.alert-error(style='display: block;')
            ul
              each error in flash.error
                each item in error.errors
                  if item.type == 'required'
                    li #{item.path} is required
                  else
                    li #{item.type}
        if flash.info
          .alert.alert-success(style='display: block;')
            = flash.info
        .control-group
          label.control-label(for='username') Username
          .controls
            input.span9(type='text',id='username',disabled,value='#{username}')
            span.fui-man-16.form-field-icon
        .control-group
          label.control-label(for='email') Email
          .controls
            input.span9(type='text',id='email',name='email',tabindex='1',value='#{email}')
            span.fui-mail-16.form-field-icon
        hr
        .control-group
          label.control-label(for='password') Password
          .controls
            input.span9(type='password',id='password',name='password',tabindex='2')
            span.fui-lock-16.form-field-icon
        .control-group
          label.control-label(for='confirm') Confirm Password
          .controls
            input.span9(type='password',id='confirm',name='confirm',tabindex='3')
            span.fui-lock-16.form-field-icon
        hr
        .control-group
          .controls
            input(type='hidden',name='_csrf',value='#{token}')
            button.btn(tabindex='4') Save
