extends loggedin-layout

block inner-content
  .row-fluid
    .span6.offset3.service-new
      h2 Update service
      form.form-horizontal(action='/main.html')
        .control-group
          label.control-label(for='service-name') Service Name
          .controls
            input.span6(type='text',id='service-name',name='name',value='#{service.name}')
        .control-group
          label.control-label(for='service-type') Service Type
          .controls
            select.span6(id='service-type',name='type',value='#{service.type}')
              - each module, name in modules
                option(value='#{name}')= name

        - each module, name in modules
          div.module(id='module-#{name}')
            - each field, key in module.fields
              - if (field.type !== 'hidden')
                .control-group
                  label.control-label(for='#{name}.properties.#{key}')= key
                  .controls
                    - if (name === service.type)
                      input.span6(type='#{field.type}',id='#{name}.properties.#{key}',name='#{name}.properties.#{key}',value='#{service.properties[key]}')
                    - else
                      input.span6(type='#{field.type}',id='#{name}.properties.#{key}',name='#{name}.properties.#{key}')
              - else
                input(type='#{field.type}',id='#{name}.properties.#{key}',name='#{name}.properties.#{key}',value='#{service.properties[key]}')  

        .control-group
          .controls
            input(type='hidden',id='service-enable',name='enable',value='#{service.enable}')
            input(type='hidden',id='service-id',name='id',value='#{service._id}')
            input(type='hidden',id='csrf',name='_csrf',value='#{token}')
            ul
              li
                button.btn Update
              li
                button.btn.btn-danger#cancel Cancel

block script
  script(type='text/javascript')
    $(document).ready(function () {
      $('#service-authentication-type').select2();
      new UpdateServiceView;
    });
  
